* {
    margin: 0;
    padding: 0;
    font-family: consolas;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #FEFBFB;
}

a {
    position: relative;
    padding: 10px 30px;
    margin: 45px 0;
    color: #000;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.5s;
}

a::before {
    content: " ";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #FB0707;
    border-left: 2px solid #FB0707;
    transition: 0.5s;
    transition-delay: 0.5s;
}

a::after {
    content: " ";
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #FB0707;
    border-right: 2px solid #FB0707;
    transition: 0.5s;
    transition-delay: 0.5s;
}

a:hover::before,
a:hover::after {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}

a:hover {
    background: #FB0707;
    color: #000;
    box-shadow: 0 0 50px #FB0707;
    transition-delay: 0.5s;
}